

.pageFooter {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: auto auto 1rem auto;

    white-space: pre;
}

.pageFooter .footerHearthLink {
    height: 1.1rem;
}

.footerHearthLink img {
    height: 100%;
}
