
.toggleButton {
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border: var(--borderColor) solid .1rem;
    border-radius: .4rem;

    overflow: hidden;
}

.toggleButton>* {
    text-wrap: nowrap;

    padding: .5rem;
}

.toggleButton .activeOption {
    background: #5b5b5b;
}
