:root {
    --backgroundColor: #232323;
    --backgroundVariantColor: #323232;
  
    --textColor: #fff;
  
    --buttonColor: #105022;
    --buttonColorHover: #197533;
  
    --linkColor: #33ff00;
    --linkColorHover: #3ec81c;
  
    --inputColor: #515151;
  
    --borderColor: #33ff00;
  
    --shadowBoxColor: #00000000;
}


* {
  box-sizing: border-box;
  height: max-content;
  padding: 0;
  margin: 0;
}

html {
    font-size: 18px;
}

body  {
    background-color: var(--backgroundColor);
    color: var(--textColor);

    font-size: 18px;
    font-family: Inter;

    width: 100%;
    min-height: 100vh;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

button {
    background: var(--buttonColor);
    color: #fff;

    text-wrap: nowrap;
    font-size: 1.5rem;

    padding: 0.5rem 1rem;
    border: none;
    border-radius: .5rem;
}

button:hover {
    background: var(--buttonColorHover);
}

a {
    color: var(--linkColor);

    text-decoration: none;
    font-size: 1rem;
}

a::after {
    content: "";
    display: block;
    width: 0;
    height: .07rem;
    background: var(--linkColor);
    transition: width .5s ease;
}

a:hover::after {
    width: 100%;
}

input, select {
    background-color: var(--inputColor) !important;
    color: var(--textColor);

    font-size: 1rem;

    padding: 0.5rem;
    border: none;
    border-radius: .5rem;
    box-shadow: none;
}
