
.pageHeader {
    display: flex;
    justify-content: center;

    position: relative;

    width: 100%;
    padding: 1rem;
}

.pageHeader .logo {
    height: 8rem;

    transition: all 0.3s ease-in-out; 
}

.pageHeader .headerNavigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;

    position: absolute;
    top: 1rem;
    right: 2rem;
}

@media screen and (max-width: 850px) {
    .pageHeader .logo {
        margin-top: 4rem;
    }
}