.authenticationForm {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.authenticationForm h2 {
    font-family: 'Kaushan Script';
    font-weight: normal;
    text-align: center;

    width: 100%;
}

.authenticationForm input {
    width: 12rem;
}

.authenticationToggleButton {
    text-wrap: wrap;
    font-size: 1rem;
}

.authenticationToggleButton span {
    color: var(--linkColor);

    text-wrap: nowrap;
}

.userDiv .userStatsList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}